* {
    main-bg:            #ecc06cE6;
    main-fg:            #b2cfa8;
    main-br:            #d9c4a0;
    main-ex:            #53452a;
    select-bg:          #d9c4a0;
    select-fg:          #412d00;
}
